# jupyter notebook checkpoints
.ipynb_checkpoints

# vim swap files
*.sw?

# python nonsense
__pycache__/
*.py[cod]

# data directories
#api/

# spark resources
setup_spark.sh
spark_warehouse/

# .out files
*.out

# .bak files
*.bak
